@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dark;
}

@font-face {
  font-family: "Roboto";
  src: url("/public/robotoMono.ttf") format("woff2");
}

@font-face {
  font-family: "Arimo";
  src: url("/public/Arimo.ttf") format("woff2");
}
.arimo {
  font-family: "Arimo";
}
/* LIGHT THEME */
@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #1e40af; /* buttons, active links */
  --color-secondary: #475569; /* secondary text */
  --color-accent: #16a34a; /* assign / approve */
  --color-neutral: #334155; /* headings */

  --color-base-100: #ffffff; /* page */
  --color-base-200: #f1f5f9; /* section bg */
  --color-base-300: #e2e8f0; /* cards */
  --color-base-content: #0f172a;
}

/*  DARK THEME */

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #60a5fa; /* CTA, active */
  --color-secondary: #94a3b8; /* muted text */
  --color-accent: #22c55e; /* success */
  --color-neutral: #cbd5e1; /* titles */

  --color-base-100: #020617; /* page bg */
  --color-base-200: #020617;
  --color-base-300: #0f172a; /* navbar, cards */
  --color-base-content: #e5e7eb;
}

/* Global styles */
* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
/* Remove number input spinner */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Custom button */
.custom-button {
  @apply px-6 py-3 bg-primary text-white rounded-lg font-semibold hover:bg-blue-700 btn;
}
